<h3>Add a prescription to </h3>
<section>
  <div>
    <%= form_for :medications do |f| %>
      <%= f.label "Medication  " %>
      <%= f.select(:name, Medication.all.map { |p| [p.name, p.id] }, :prompt => "Please Choose a Medication") %>
      </div>


      <div>
        <%= f.label :dosage %>
        <%= f.text_field :dosage, autofocus: true, placeholder: "ex. 4 ml or 3 pills" %>
      </div>
      <div>
        <%= f.label :schedule %>
        <%= f.text_field :schedule, autofocus: true, placeholder: "ex. every 4 hours" %>
      </div>

      <div>
        <%= f.label :start_date %>
        <%= f.date_select :start_date %>
      </div>
      <div>
        <%= f.label :end_date %>
        <%= f.date_select :end_date %>
      </div>
      <div>
        <%= f.submit "Create Prescription" %>
      </div>

    <% end %>
    </section>
