<h1><%= @medication.name %></h1>

<h2>Medications</h2>

<table class="table">
  <thead>
  <tr>
    <th>Patient</th>
    <th>Schedule/Dosage</th>
    <th>Dates</th>
    <th>Prescribed By</th>
  </tr>
  </thead>
  <body>
  <% @prescriptions.each do |prescription| %>

    <tr>
      <td><%= prescription.patient.last_name %></td>
      <td><%= prescription.schedule %></td>
      <td><%= prescription.start_date %> / <%= prescription.end_date %></td>
    </tr>

  <% end %>

  </body>
</table>