<%= notice %>

<h1><%= full_name(@patient) %></h1>

<h2>Prescriptions</h2><%= link_to "Add Prescription", new_patient_prescription_path(@patient) %>

<table class="table">
  <thead>
  <tr>
    <th>Medication</th>
    <th>Dosage/Schedule</th>
    <th>Dates</th>
  </tr>
  </thead>
  <tbody>
<% if @prescriptions != nil %>
  <% @prescriptions.each do |prescription| %>

<tr>
<td><%= prescription.medication.name %></td>
  <td><%= prescription.dosage %> <%= prescription.schedule %></td>
  <td><%= prescription.start_date.strftime("%m/%d/%Y") %> - <%= prescription.end_date.strftime("%m/%d/%Y") %></td>

</tr>
    <% end %>
  <% end %>
  </tbody>
 </table>